<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />

    <meta name="author" content="Andrew Dunkman" />

    <%- css("main.css") %>
  </head>
  <body>
    <header class="location-controls">
      <noscript>
        <div class="error">
          <div class="frown">:(</div>
          <p class="message">JavaScript is required to determine your location.</p>
        </div>
      </noscript>
    </header>

    <aside class="status">
    </aside>

    <section class="media">
    </section>

    <%- js("main.js") %>
  </body>
</html>
