<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />

    <meta name="author" content="Andrew Dunkman" />

    <%- css("main.css") %>
  </head>
  <body>
    <header>
      <h1>shared<b>around</b>.me</h1>
      <p>What’s being shared on the Internet around your location?</p>
    </header>

    <aside class="status">
    </aside>

    <section class="media">
    </section>

    <footer>
      <a href="https://github.com/adunkman/sharedaround.me">A project</a> of <a href="http://twitter.com/adunkman">@adunkman</a>.
    </footer>

    <%- js("main.js") %>
  </body>
</html>
