<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />

    <meta name="author" content="Andrew Dunkman" />

    <%- css("main.css") %>
  </head>
  <body>
    <noscript id="javascript-missing">
      <p>JavaScript is required to determine your location.</p>
    </noscript>

    <section id="location-services-error">
      <p></p>
    </section>

    <section id="working">
      <p></p>
    </section>

    <section id="locate-me">
      <button class="js-locate">What’s happening around you?</button>
    </section>

    <section id="media">
      <button class="js-locate">Refresh Your Location</button>
      <ol></ol>
    </section>

    <%- js("main.js") %>
  </body>
</html>
