.project-info
  background: linear-gradient(to top, #eee, #ddd)
  border-top: 1px #ccc solid

  p
    max-width()
    color: #aaa
    line-height: 100px
    margin-bottom: 0
    margin-top: 0
    text-align: center

    a
      color: #aaa

.no-media .project-info
  display: none
