.media
  section-width = 600px
  horizontal-padding = 20px

  margin-left: auto
  margin-right: auto
  max-width: section-width
  padding-left: horizontal-padding
  padding-right: horizontal-padding

  &.loading
    min-height: 100%

    // TODO: Put in some kind of a loading indicator. Perhaps a bouncing ball?

  .item
    item-width = section-width - 2 * horizontal-padding
    horizontal-padding = 10px
    left-gutter-width = 60px

    background: #fff
    border-radius: 3px
    box-shadow: 0 0 5px rgba(0,0,0,0.2)
    margin-bottom: 40px
    padding: horizontal-padding

    .profile
      .avatar
        border-radius: 3px
        float: left
        margin: 0 horizontal-padding horizontal-padding 0
        width: (left-gutter-width - horizontal-padding)

      h1
        margin: 0 0 0 left-gutter-width

    p
      margin-left: left-gutter-width

    .photo
      border-radius: 3px
      margin-left: left-gutter-width
      max-width: (item-width - left-gutter-width - 2 * horizontal-padding)
