@import "../lib/variables"

#media
  transition-hidden()

  button
    -webkit-appearance: none
    background: rgba(0, 0, 0, 0.1)
    border: solid #aaa
    border-width: 1px 0 0 0
    cursor: pointer
    display: block
    font-size: 1em
    line-height: 1.5
    margin: 0
    padding: 0.7em 1.5em
    width: 100%

  body.has-media &
    transition-visible()

  ol
    list-style-type: none
    margin: 0
    padding: 0

  .item
    border-radius: 5px
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2)
    margin: 1em auto
    max-width: 30em

    .profile
      background: linear-gradient(to bottom, #eee, #ddd)
      border-color: #bbb transparent #aaa transparent
      border-style: solid
      border-width: 1px 0
      padding: 0.6em 0

      &:after
        clear: both
        content: ""
        display: block

      .avatar
        border-radius: 50%
        float: left
        height: 70px
        margin-left: 15px
        width: 70px

      h1
        font-size: 1.1em
        height: 70px
        line-height: 1.3
        margin: 0 0 0 100px
        padding: 10px 5px 5px 5px

        i
          display: block
          font-style: normal
          font-weight: normal

    .body
      background: #f6f6f6
      border-bottom: 1px #ddd solid
      border-top: 1px transparent solid
      padding: 0 5px

      p
        line-height: 1.4
        margin: 1em 10px

      .mention, .tag
        color: inherit
        font-weight: bold
        text-decoration: none

      .photo, .video
        border-radius: 5px
        border: 1px solid rgba(0, 0, 0, 0.1)
        display: block
        max-width: 100%
        margin: 5px auto

    .meta
      list-style-type: none
      margin: 0
      background: #eee
      border-bottom: 1px #aaa solid
      padding: 10px 15px

      li
        display: inline-block

      .service:before
        content: "via "

    @media (min-width: 30em)
      .profile
        border-top-left-radius: 5px
        border-top-right-radius: 5px

      .meta
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
